@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

h3.heading2_Your {
    font-family: "Poppins", sans-serif;
    font-size: 30px !important;
    /* text-align: center; */
    line-height: 45px;
    /* margin: 0px; */
    text-transform: capitalize;
    font-weight: 500;
    /* margin-top: -50px; */
    color: white !important;
    margin-top: 10px;
    width: 66%;
}

p.soc_Lorem {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #ffffff !important;
    width: 76%;
    margin-top: 13px;
}

.soc_Number {
    font-family: Alexandria;
    font-size: 45px;
    font-weight: 600;
    line-height: 54.85px;
    text-align: left;
    color: #ffffff !important;
}

/* .the_workforce {
    color: #2C2C2C;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 4px;
} */


/* .Home_banner_text {
    position: absolute;
    z-index: 9999;
    top: 26%;
    width: 100%;
} */
.banner_First {
    position: relative;
    height: 500px;
    width: 100%;
    overflow-x: hidden !important;
}

img.banner_Image {
    position: absolute;
}

/* remmm */


.banner_First {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_Image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}

.banner_Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    color: #fff;
    text-align: left;
    z-index: 2;
    width: 100%;
    padding: 20px;
}

.container {
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .banner_Text {
        text-align: center;
        transform: translate(-50%, -40%);
        padding: 10px;
    }

    .banner_Text .col-12.col-md-6 {
        padding: 10px;
    }

}

/* .the_workforce {
    color: #2C2C2C;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 5px;
} */
.why_Choose {
    font-family: Poppins;
    font-size: 27px;
    font-weight: 500;
    line-height: 32.5px;
    text-align: left;
    color: #000000 !important;
}

#cybersecurity {
    color: #173DB9;
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 52.5px;
    text-align: center;
}

.the_workforce {
    color: #2C2C2C !important;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 5px;
}

.About p {
    width: 92% !important;
}

.algosoft_Has {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #404040 !important;
}

.content_Here {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #404040;
    margin-top: 10px;
}

.long_Established2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #404040;
    margin-top: 10px;
}

.About img {
    height: 524px !important;
    border-radius: 20px 50px 50px 20px;
    /* margin-top: 0px; */
}

#cybersecurity {
    color: #173DB9;
    font-family: Poppins;
    font-size: 27px !important;
    font-weight: 600;
    line-height: 52.5px;
    text-align: center;
}

.highlights_1 {
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 25.5px;
    text-align: center;
    color: #000000;
    margin-top: -30px !important;
}

.established_Fact {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    color: #404040;
    margin-top: -8px;
}






.box_modal {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: white;
}

.box h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.box p {
    font-size: 1rem;
    margin: 0;
}

.border-right {
    border-right: 1px solid #ddd;
}

@media (max-width: 767.98px) {
    .border-right {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}

.horizontal_Line {
    margin-top: 2px;
}

h2#number_1 {
    text-align: start;
    color: #0E53B4 !important;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;


}




p.beyond_Operations {
    text-align: start;
    line-height: 25px;
    margin-top: -5px;
    color: #494949 !important;
    font-size: 15px;
}

p.beyond_Operations:hover {
    color: #ffffff !important;
}

.box_modal:hover {
    background: linear-gradient(0deg, #173DB9, #173DB9),
        linear-gradient(250.96deg, rgba(0, 6, 58, 0) 60.07%, rgba(0, 6, 58, 0.1) 93.61%);
    color: white !important;
    border-radius: 15px;
}

h2#number_1:hover {
    color: #FFFFFF !important;
}

p.beyond_Operations1:hover {
    color: #FFFFFF !important;
}

.consult_Our {
    color: #173DB9 !important;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 600;
    line-height: 29.96px;
    text-align: left;
    position: relative;
}

.box.h-100.d-flex.align-items\:.start.content_Space {
    padding: 0px 20px;
}